<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4"></div>
    <h1> Hello Mister Cocktail</h1>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :description %>
    </div>
    <div class="form-inputs">
    <%= f.input :ingredient_id, collection: @ingredients, prompt: 'Choose an ingredient' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
    <% end %>
  </div>
</div>
